@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Home Page</h1>
    <p>Demo from AnhNDT!</p>
    <p>Contract to: <a href="https://www.facebook.com/anhndt27/">Facebook</a></p>
    <div class="order-1 order-lg-2 hero-img aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
        <img src="/Image/hero-img.png" class="img-fluid animated" alt="">
    </div>
</div>