@model EnrollmentViewModel

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-controller="Enrollment" asp-action="AddUseModal">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @*<input type="hidden" asp-for="model2.CourseId"/>*@
                    <div class="form-group">
                        <label asp-for="enrollViewModel.CourseId" class="control-label"></label>
                        <input asp-for="enrollViewModel.CourseId" class="form-control"/>
                        <span asp-validation-for="enrollViewModel.CourseId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="enrollViewModel.StudentId" class="control-label"></label>
                        <input asp-for="enrollViewModel.StudentId" class="form-control"/>
                        <span asp-validation-for="enrollViewModel.StudentId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary"/>
                        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
            @*<div class="modal-footer form-group">

            </div>*@
        </div>
    </div>
</div>